<?php
global $LABELS_SITE ;
include ('themes/tools/bazar/templates/fiche-part-1.php') ;
?>

<div class="row">
	<div class="col-xs-12">

<?php
/*	Dans les listes BAzaR référencées ci-dessous, 1 correspond à 'non' et 2 correspond à 'oui' */
if (isset($fiche['listeListeVntSurPlace']) && $fiche['listeListeVntSurPlace'] == 2){
	$SurPlace=1; // True parce que 'oui' a été saisi
} else {
	$SurPlace=0; // False
}
if (isset($fiche['listeListeVntAMAP']) && ($fiche['listeListeVntAMAP'] == 2)){
	$Amap=1; // True parce que 'oui' a été saisi
} else {
	$Amap=0; // False
}
if (isset($fiche['listeListeVntGrpCmm']) && ($fiche['listeListeVntGrpCmm'] == 2)){
	$GrpConsom=1; // True parce que 'oui' a été saisi
} else {
	$GrpConsom=0; // False
}
if (isset($fiche['listeListeVntRuche']) && ($fiche['listeListeVntRuche'] == 2)){
	$Ruche=1; // True parce que 'oui' a été saisi
} else {
	$Ruche=0; // False
}
if (isset($fiche['listeListeVntMarche']) && ($fiche['listeListeVntMarche'] == 2)){
	$Marche=1; // True parce que 'oui' a été saisi
} else {
	$Marche=0; // False
}
if (isset($fiche['listeListeVntmagasins']) && ($fiche['listeListeVntmagasins'] == 2)){
	$Magasins=1; // True parce que 'oui' a été saisi
} else {
	$Magasins=0; // False
}
if (isset($fiche['listeListeVntRestaurants']) && ($fiche['listeListeVntRestaurants'] == 2)){
	$Restaurants=1; // True parce que 'oui' a été saisi
} else {
	$Restaurants=0; // False
}
if (isset($fiche['bf_VntAutre']) && $fiche['bf_VntAutre'] != ''){
	$Autre=1; // True parce que 'oui' a été saisi
} else {
	$Autre=0; // False
}

if ($SurPlace or $Amap or $GrpConsom or $Ruche or $Marche or $Magasins or $Restaurants or $Autre)
{
	echo '<hr/>' ;
	echo '<p class="icon-pad icon-panier '.$temp.'">'.$LABELS_SITE['Fiche_ListeVntSurPlaceLabel'] ;

	if ($SurPlace) {
		echo $LABELS_SITE['Fiche_ListeVntSurPlaceOui'] ;
	} else {
		echo $LABELS_SITE['Fiche_ListeVntSurPlaceNon'] ;
		if ($fiche['bf_Horaires'] != '') {
			echo $LABELS_SITE['Fiche_ListeVntSurPlaceAvantHoraire'].	nl2br ( $fiche['bf_Horaires'] );
		}
	}
	if ($Amap) {
		echo $LABELS_SITE['Fiche_ListeListeVntAMAPLabel'] ;
		if ($fiche['bf_VntAMAPCmt'] != '') {
			echo $LABELS_SITE['Fiche_ListeListeVntAMAPLabelCMt'].	nl2br ( $fiche['bf_VntAMAPCmt'] );
		}
	}
	if ($GrpConsom) {
		echo $LABELS_SITE['Fiche_ListeListeVntGrpCmmLabel'];
		if ($fiche['bf_VntGrpCmmCmt']  != '') {
			echo $LABELS_SITE['Fiche_ListeListeVntGrpCmmLabelCmt'].	nl2br ( $fiche['bf_VntGrpCmmCmt'] );
		}
	}
	if ($Ruche) {
		echo $LABELS_SITE['Fiche_ListeListeVntRucheLabel'] ;
		if ($fiche['bf_VntRucheCmt']  != '') {
			echo $LABELS_SITE['Fiche_ListeListeVntRucheLabelCmt'].	nl2br ( $fiche['bf_VntRucheCmt'] );
		}
	}
	if ($Marche) {
		echo $LABELS_SITE['Fiche_ListeListeVntMarcheLabel'] ;
		if ($fiche['bf_VntMarcheCmt']  != '') {
			echo $LABELS_SITE['Fiche_ListeListeVntMarcheLabelCmt'].	nl2br ( $fiche['bf_VntMarcheCmt'] );
		}
	}
	if ($Magasins) {
		echo $LABELS_SITE['Fiche_ListeListeVntmagasinsLabel'] ;
		if ($fiche['bf_VntmagasinsCmt']  != '') {
			echo $LABELS_SITE['Fiche_ListeListeVntmagasinsLabelCmt'].	nl2br ( $fiche['bf_VntmagasinsCmt']) ;
		}
	}
	if ($Restaurants) {
		echo $LABELS_SITE['Fiche_ListeListeVntRestaurantsLabel'] ;
		if ($fiche['bf_VntRestaurantsCmt']  != '') {
			echo $LABELS_SITE['Fiche_ListeListeVntRestaurantsLabelCmt'].	nl2br ( $fiche['bf_VntRestaurantsCmt']) ;
		}
	}
	if ($Autre) {
		echo $LABELS_SITE['Fiche_ListeListeVntAutreLabel'].nl2br ( $fiche['bf_VntAutre'] );
	}
	echo '</p>' ;
}
?>

	</div>
</div>

<?php
include ('themes/tools/bazar/templates/fiche-part-2.php') ;
?>
