<?php
include ('themes/tools/bazar/templates/fiche-part-1.php') ;


?>

<div class="row">
	<div class="col-xs-12">
	
<?php

if ($fiche['bf_Horaires'] != '') {
		echo '<hr/>' ;
		echo '<p class="icon-pad icon-horloge">'.nl2br ( $fiche['bf_Horaires']).'</p>' ;
}
?>

	</div>
</div>


<?php
include ('themes/tools/bazar/templates/fiche-part-2.php') ;


?>
