html {
  min-height: 100%;
  width: 100%;
}
body {
  background: #fff;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #414141;
  margin-left: -0.0001vw;
  transition: margin-left 0.5s;
}
body h1 {
  position: relative;
  color: #493052;
  font-size: 32px;
  font-weight: 600;
  padding: 0 0 20px 0;
  text-transform: uppercase;
  margin-top: 10px;
}
body h1:after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  bottom: 0;
  width: 15%;
  border-bottom: 2px solid #C2D23C;
}
body h2 {
  color: #493052;
  font-size: 30px;
  font-weight: 600;
}
body h3 {
  color: #493052;
  font-size: 20px;
  font-weight: 600;
}
body h4 {
  color: #493052;
  font-size: 16px;
  font-weight: 600;
}
body h5 {
  color: #493052;
  font-size: 14px;
  font-weight: 600;
}
body p {
  font-size: 14px;
}
body .lead {
  font-size: 16px;
  margin-bottom: 10px;
}
body small {
  font-size: 12px;
}
body ul,
body ol {
  list-style-type: disc;
  color: #493052;
}
body ul li,
body ol li {
  font-size: 14px;
  color: #414141;
  padding-left: 5px;
}
body ul {
  list-style-image: url('/personnalisations/img/li-disk.png');
}
body img {
  border-radius: 8px;
}
body a {
  color: #414141;
  text-decoration: underline;
}
body .well {
  padding: 15px 15px 30px 15px;
  background: #493052;
  border-radius: 8px;
  color: #fff;
}
body .well h2,
body .well h3,
body .well h4,
body .well h5 {
  color: #fff;
  margin-top: 4px;
}
body .well.alt {
  background: #fff;
  border: 2px solid #96BD03;
  color: #493052;
}
body .well.alt h2,
body .well.alt h3,
body .well.alt h4,
body .well.alt h5 {
  color: #493052;
}
body .btn {
  text-decoration: none;
}
body .btn-default-a {
  text-shadow: none;
  background: #493052;
  border: 2px solid #493052;
  box-shadow: none;
  color: #fff;
  padding: 13px 25px;
  text-transform: uppercase;
  font-weight: 600;
}
body .btn-default-a:hover {
  background: #fff;
  color: #493052;
  border: 2px solid #493052;
}
body .btn-primary {
  text-shadow: none;
  background: #493052;
  border: 2px solid #493052;
  box-shadow: none;
  color: #fff;
  font-weight: 600;
}
body .btn-primary:hover {
  background: #fff;
  color: #493052;
  border: 2px solid #493052;
}
body .btn-success {
  text-shadow: none;
  background: #493052;
  border: 2px solid #493052;
  box-shadow: none;
  color: #fff;
  font-weight: 600;
}
body .btn-success:hover {
  background: #fff;
  color: #493052;
  border: 2px solid #493052;
}
body .btn-primary-a {
  text-shadow: none;
  background: #fff;
  border: 2px solid #96BD03;
  box-shadow: none;
  color: #493052;
  padding: 13px 25px;
  text-transform: uppercase;
  font-weight: 600;
}
body .btn-primary-a:hover {
  background: #fff;
  color: #96BD03;
  border: 2px solid #96BD03;
}
body .carousel-auto .item img {
  margin: 0 auto;
}
body .carousel .carousel-indicators li {
  margin-left: 3px;
  margin-right: 3px;
  background-color: #fff;
}
body .carousel .carousel-indicators li.active {
  background-color: #94B14C;
  border-color: transparent;
}
body .modal {
  z-index: 11000;
}
body .yeswiki-footer-2 {
  background: #493052;
  color: #fff;
  border-top: 4px solid #C2D23C;
  text-align: center;
  padding: 8px 0;
  line-height: 14px;
  font-size: 10px;
}
body .yeswiki-footer-2 .container {
  padding: 0;
}
body .yeswiki-footer-2 .container div {
  font-size: 10px;
  color: #fff;
}
body .yeswiki-footer-2 .container div a {
  color: #fff;
  font-weight: 600;
}
body>.container {
  padding-bottom: 40px;
}
body.page-home {
  background-repeat: no-repeat;
  background-color: #000;
  background-image: url("/personnalisations/img/accueil-mobile.jpg");
  background-size: cover;
  background-position: center center;
}
body>div.footer {
  display: none;
}
body .text-blanc {
  color: #fff;
}
body .text-blanc a {
  color: #fff;
}
body .navbar-default {
  background-color: #493052;
  background-image: url("/personnalisations/img/logo-header.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 18px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  border-bottom: 8px solid #C2D23C;
  height: 44px;
  line-height: 44px;
}
body.page-home .navbar-default {
  background: transparent;
  border-bottom: 0 solid #C2D23C;
  margin-bottom: 0;
}
body .navbar-default .navbar-toggle {
  background: transparent;
  border: 0 solid transparent;
  display: inline-block;
  margin-top: 5px;
  margin-left: 15px;
}
body .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  height: 2px;
}
body .navbar-default .navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}
body .navbar-default .navbar-toggle:focus,
body .navbar-default .navbar-toggle:hover {
  background: transparent;
  border: 0 solid transparent;
}
body .navbar-default .navbar-nav>li>a {
  color: #333;
}
body .navbar-default .navbar-nav>li>a:focus,
body .navbar-default .navbar-nav>li>a:hover {
  background: #e7e7e7;
  color: #333;
  text-shadow: none;
}
body .navbar-default .navbar-nav>.active>a,
body .navbar-default .navbar-nav>.open>a {
  background: transparent;
  color: #333;
  box-shadow: none;
  text-shadow: none;
}
body .navbar-default .navbar-nav>.active>a:hover {
  color: #333;
  background: #e7e7e7;
  text-shadow: none;
}
body .dropdown-menu>li>a:focus,
body .dropdown-menu>li>a:hover {
  color: #333;
  background: #e7e7e7;
  text-shadow: none;
}
body .navbar-collapse
	.navbar-default {
  background: transparent;
  border: 0px;
  box-shadow: none;
}
body .navbar-collapse h1 {
  text-indent: -99999em;
}
body .navbar-collapse h1:after {
  display: none;
}
body .navbar-collapse.expended {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: block;
  line-height: 20px;
}
body .navbar-collapse.expended:before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/personnalisations/img/accueil-mobile.jpg");
  background-size: cover;
  background-position: center center;
}
body .navbar-collapse.expended .menu-background {
  background-color: rgba(255,255,255,0.8);
  background-image: url("/personnalisations/img/menu-border.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 8px 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
body .navbar-collapse.expended .topnavpage {
  display: block;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 30px 30px 0 30px;
}
body .navbar-collapse.expended .topnavpage h1 {
  text-indent: -999em;
  position: relative;
  height: 43px;
  background-color: transparent;
  background-image: url("/personnalisations/img/logo_couleur.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 70%;
  display: block;
}
body .navbar-collapse.expended .topnavpage h1:after {
  display: none;
}
body .navbar-collapse.expended .topnavpage >ul>li {
  border-bottom: 1px solid #DBDBDB;
  text-align: center;
}
body .navbar-collapse.expended .topnavpage >ul>li a {
  color: #414141;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
body .navbar-collapse.expended .topnavpage >ul>li>a,
body .navbar-collapse.expended .topnavpage >ul>li>span {
  font-size: 20px;
  line-height: 28px;
  display: block;
  font-weight: 600;
  text-decoration: none;
}
body .navbar-collapse.expended .topnavpage >ul>li>span {
  padding: 12px 0 6px;
}
body .navbar-collapse.expended .topnavpage >ul>li ul li {
  text-align: center;
  font-size: 12px;
}
body .navbar-collapse.expended .topnavpage >ul>li span.searh-menu-item {
  display: inline-block;
  width: 35px;
  height: 31px;
  margin-bottom: -6px;
  background-color: transparent;
  background-image: url("/personnalisations/img/loupe-gris.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: auto 65%;
}
body .navbar-collapse.expended .topnavpage ul.navbar-nav>li.dropdown a .caret {
  display: none;
}
body .navbar-collapse.expended .topnavpage ul.navbar-nav>li>ul.dropdown-menu {
  display: block;
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  padding-top: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body .navbar-collapse.expended .topnavpage ul.navbar-nav>li .dropdown-menu>.active>a,
body .navbar-collapse.expended .topnavpage ul.navbar-nav>li .dropdown-menu>.active>a:focus,
body .navbar-collapse.expended .topnavpage ul.navbar-nav>li .dropdown-menu>.active>a:hover {
  background: transparent;
}
body .navbar-collapse.expended #close-nav-bar {
  dipslay: block;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #333;
  font-size: 18px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-indent: -999em;
  background-color: transparent;
  background-image: url("/personnalisations/img/fermer.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
body .navbar-collapse.expended #close-nav-bar span {
  font-weight: light;
}
body .navbar-collapse.expended .credit {
  position: relative;
  line-height: 14px;
  width: 100%;
  font-size: 10px;
  padding-bottom: 10px;
  color: #333;
}
body .navbar-toggle {
  float: left;
}
body .well {
  border: none;
  box-shadow: none;
}
body .intro-accueil h1 {
  text-indent: -999em;
  height: 27px;
  background-color: transparent;
  background-image: url("/personnalisations/img/logo-header.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin: 0;
}
body .intro-accueil h1:after {
  display: none;
}
body .intro-accueil .well {
  background: transparent;
  padding: 19px;
  margin-bottom: 0;
}
body .intro-accueil>div {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
body .intro-accueil>div>a {
  display: inline-block;
  text-decoration: underline;
  padding: 5px 15px;
}
body .intro-accueil #no-ressult-warning {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 50px 15px 50px 15px;
}
body .intro-accueil #no-ressult-warning:before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  background-image: url("/personnalisations/img/message-border.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 8px;
}
body .intro-accueil #no-ressult-warning a.close-message {
  display: block;
  position: absolute;
  top: 20px;
  right: 15px;
  height: 30px;
  width: 30px;
  background-image: url("/personnalisations/img/fermer.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 55% auto;
}
body .intro-accueil #no-ressult-warning p {
  font-size: 20px;
  color: #493052;
  position: relative;
}
body .intro-accueil #no-ressult-warning .btn-default.link-all-results {
  position: relative;
  display: inline-block;
  width: 36%;
  border: 2px solid #C2D23C;
  border-radius: 5px;
  color: #414141;
  background: transparent;
  padding: 10px 12px;
  text-shadow: none;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: 600;
  text-decoration: none;
}
.form-search-home #checkboxListeProduits,
.form-search-home #listeListeTypeStructuree {
  display: none;
}
.form-search-home .select2-container--default .select2-selection--multiple,
.form-search-home .select2-container--default .select2-selection--single,
.form-search-home .select2-container--default.select2-container--focus .select2-selection--multiple,
.form-search-home .select2-container--default.select2-container--focus .select2-selection--single {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 0;
  height: 40px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  line-height: 40px;
}
.form-search-home .select2-container--default .select2-selection--multiple .select2-selection__rendered,
.form-search-home .select2-container--default .select2-selection--single .select2-selection__rendered,
.form-search-home .select2-container--default.select2-container--focus .select2-selection--multiple .select2-selection__rendered,
.form-search-home .select2-container--default.select2-container--focus .select2-selection--single .select2-selection__rendered {
  position: absolute;
  top: 0;
  line-height: 40px;
  height: 40px;
  overflow: visible;
  width: 90%;
}
.form-search-home .select2-container--default .select2-selection--multiple li.select2-selection__choice,
.form-search-home .select2-container--default .select2-selection--single li.select2-selection__choice,
.form-search-home .select2-container--default.select2-container--focus .select2-selection--multiple li.select2-selection__choice,
.form-search-home .select2-container--default.select2-container--focus .select2-selection--single li.select2-selection__choice {
  background: transparent;
  border: 0 solid transparent;
  margin-right: 0;
  padding-right: 0;
  margin-top: 0;
}
.form-search-home .select2-container--default .select2-selection--multiple li.select2-selection__choice span.select2-selection__choice__remove,
.form-search-home .select2-container--default .select2-selection--single li.select2-selection__choice span.select2-selection__choice__remove,
.form-search-home .select2-container--default.select2-container--focus .select2-selection--multiple li.select2-selection__choice span.select2-selection__choice__remove,
.form-search-home .select2-container--default.select2-container--focus .select2-selection--single li.select2-selection__choice span.select2-selection__choice__remove {
  display: none;
}
.form-search-home .select2-container--default .select2-selection--multiple li.select2-selection__choice span.sel-format,
.form-search-home .select2-container--default .select2-selection--single li.select2-selection__choice span.sel-format,
.form-search-home .select2-container--default.select2-container--focus .select2-selection--multiple li.select2-selection__choice span.sel-format,
.form-search-home .select2-container--default.select2-container--focus .select2-selection--single li.select2-selection__choice span.sel-format {
  color: #fff;
  font-weight: 600;
  display: block;
}
.form-search-home .select2-container--default .select2-selection--multiple li.select2-search.select2-search--inline.hide-input,
.form-search-home .select2-container--default .select2-selection--single li.select2-search.select2-search--inline.hide-input,
.form-search-home .select2-container--default.select2-container--focus .select2-selection--multiple li.select2-search.select2-search--inline.hide-input,
.form-search-home .select2-container--default.select2-container--focus .select2-selection--single li.select2-search.select2-search--inline.hide-input {
  display: none;
}
.form-search-home .select2-container--default .select2-selection--multiple:after,
.form-search-home .select2-container--default .select2-selection--single:after,
.form-search-home .select2-container--default.select2-container--focus .select2-selection--multiple:after,
.form-search-home .select2-container--default.select2-container--focus .select2-selection--single:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  height: 40px;
  width: 36px;
  background-color: transparent;
  background-image: url("/personnalisations/img/dropdown.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px auto;
}
.form-search-home .select2-container--default .select2-selection--single .select2-selection__choice
	.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: transparent;
}
.form-search-home .select2-container .select2-search--inline .select2-search__field {
  margin-top: 0;
}
.form-search-home .btn-default {
  display: block;
  width: 100%;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  background: transparent;
  padding: 15px 12px;
  text-shadow: none;
  text-transform: uppercase;
  margin-top: 30px;
  font-weight: 600;
}
.form-search-home input::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
}
.form-search-home .form-group-geo {
  position: relative;
}
.form-search-home .form-group-geo .button-geo-loc-wrap {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 36px;
}
.form-search-home .form-group-geo .button-geo-loc-wrap button {
  display: block;
  height: 100%;
  width: 36px;
  background-color: transparent;
  background-image: url("/personnalisations/img/geoloc.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px auto;
  text-indent: -999em;
  border-radius: 0;
  border: 0 solid transparent;
}
.form-search-home .form-group-geo .button-geo-loc-wrap button.run {
  background-image: url("/personnalisations/img/Reload-1s-37px.gif");
  background-size: 20px 20px;
}
.form-search-home .form-group-geo #q {
  width: 80%;
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 0;
}
body>.select2-container--default>.select2-dropdown {
  position: fixed;
  top: 10%;
  left: 15px;
  display: flex;
  height: 80%;
  max-height: 80%;
  overflow: hidden;
  z-index: 20000;
}
body>.select2-container--default>.select2-dropdown .select2-results {
  display: block;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  border-top: 6px solid #C2D23C;
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options {
  overflow-y: visible;
  max-height: 100%;
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options li {
  position: relative;
  border-bottom: 1px solid #DBDBDB;
  font-size: 16px;
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options li.select2-results__option--highlighted {
  background: transparent;
  color: #333;
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options li:after {
  display: block;
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid #414141;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -9px;
  line-height: 18px;
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options li[aria-selected=true] {
  position: relative;
  background: transparent;
  font-weight: 600;
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options li[aria-selected=true]:after {
  content: "\2713";
  text-align: center;
  color: #414141;
  border: 1px solid #C2D23C;
  position: absolute;
  top: 50%;
  right: 15px;
  background: transparent;
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li {
  line-height: 30px;
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: auto 70%;
  padding-left: 60px;
  height: 30px;
  display: inline-block;
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span.opt-1 {
  background-image: url("/personnalisations/img/produits/prod-1.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span.opt-2 {
  background-image: url("/personnalisations/img/produits/prod-2.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span.opt-3 {
  background-image: url("/personnalisations/img/produits/prod-3.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span.opt-4 {
  background-image: url("/personnalisations/img/produits/prod-4.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span.opt-5 {
  background-image: url("/personnalisations/img/produits/prod-5.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span.opt-6 {
  background-image: url("/personnalisations/img/produits/prod-6.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span.opt-7 {
  background-image: url("/personnalisations/img/produits/prod-7.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span.opt-8 {
  background-image: url("/personnalisations/img/produits/prod-8.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span.opt-9 {
  background-image: url("/personnalisations/img/produits/prod-9.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span.opt-10 {
  background-image: url("/personnalisations/img/produits/prod-10.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span.opt-11 {
  background-image: url("/personnalisations/img/produits/prod-11.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span.opt-12 {
  background-image: url("/personnalisations/img/produits/prod-12.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span.opt-13 {
  background-image: url("/personnalisations/img/produits/prod-13.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span.opt-14 {
  background-image: url("/personnalisations/img/produits/prod-14.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span.opt-15 {
  background-image: url("/personnalisations/img/produits/prod-15.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span.opt-16 {
  background-image: url("/personnalisations/img/produits/prod-16.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-checkboxListeProduits-results li span.opt-17 {
  background-image: url("/personnalisations/img/produits/prod-17.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-listeListeTypeStructuree-results li {
  line-height: 30px;
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-listeListeTypeStructuree-results li span {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: auto 70%;
  padding-left: 60px;
  height: 30px;
  display: inline-block;
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-listeListeTypeStructuree-results li span.opt-Producteur {
  background-image: url("/personnalisations/img/structures/Producteur.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-listeListeTypeStructuree-results li span.opt-LieuDeDistribution {
  background-image: url("/personnalisations/img/structures/LieuDeDistribution.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-listeListeTypeStructuree-results li span.opt-Magasin {
  background-image: url("/personnalisations/img/structures/Magasin.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-listeListeTypeStructuree-results li span.opt-Marche {
  background-image: url("/personnalisations/img/structures/Marche.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-listeListeTypeStructuree-results li span.opt-Restaurant {
  background-image: url("/personnalisations/img/structures/Restaurant.png");
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-geoloc-results li {
  border-bottom: 0 solid #ddd;
  background-color: transparent;
  background-image: url("/personnalisations/img/resultat_localite.png");
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: auto 70%;
  padding-left: 60px;
}
body>.select2-container--default>.select2-dropdown ul.select2-results__options#select2-geoloc-results li:after {
  display: none;
}
body>.select2-container--default>span>span {
  margin-top: 54px;
}
body>.select2-container--default a {
  display: block;
  position: absolute;
  top: 12px;
  right: 0;
  height: 30px;
  width: 45px;
  line-height: 30px;
  padding: 0 15px;
  box-sizing: border-box;
  background: #000;
  color: #fff;
  background-color: transparent;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% auto;
}
body>.select2-container--default a.select-close {
  background-image: url("/personnalisations/img/dropdown-gris.png");
  border-left: 2px solid #414141;
  background-size: 30% auto;
}
body>.select2-container--default a.select-reset {
  right: 47px;
  background-image: url("/personnalisations/img/clear.png");
}
body>.select2-container--default span.select-show-selected {
  display: block;
  position: absolute;
  top: 12px;
  left: 15px;
  height: 30px;
  width: 90%;
  overflow: hidden;
  margin-top: 0;
}
body>.select2-container--default span.select-show-selected ul {
  position: absolute;
  top: 0;
  line-height: 30px;
  height: 30px;
  overflow: visible;
  width: 100%;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
}
body>.select2-container--default span.select-show-selected ul li {
  margin: 0;
  padding: 0 5px 0 0;
  display: none;
}
body>.select2-container--default span.select-show-selected ul li.is_visible {
  display: inline-block;
}
body>.select2-container--default span.select-show-selected ul li span {
  font-weight: 600;
}
body>.select2-container--default span.select-show-selected ul li .select2-selection__choice__remove {
  display: none;
}
body>.select2-container--default span.select-show-selected ul li.hide-input {
  display: none;
}
body.menu-open {
  margin-left: 70vw;
  overflow: hidden;
  width: 100%;
}
body.menu-open>div,
body.menu-open>footer {
  width: 100vw;
}
body #content-fiches-1-2-3-4-5.container {
  padding: 0 30px;
}
body #content-fiches-1-2-3-4-5 p {
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 0;
}
body #content-fiches-1-2-3-4-5 hr {
  margin: 10px 0;
}
body #content-fiches-1-2-3-4-5 .BAZ_fiche_info {
  display: none;
}
body #content-fiches-1-2-3-4-5 .col-intro .label {
  font-weight: 300;
  border-radius: 0.50em;
}
body #content-fiches-1-2-3-4-5 .col-intro h2.bf_titre {
  font-size: 20px;
  text-trnasform: capitalize;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 3px;
}
body #content-fiches-1-2-3-4-5 .col-intro span.opt-Producteur {
  background-color: #E26904;
}
body #content-fiches-1-2-3-4-5 .col-intro span.opt-LieuDeDistribution {
  background-color: #FAB900;
}
body #content-fiches-1-2-3-4-5 .col-intro span.opt-Magasin {
  background-color: #009BBB;
}
body #content-fiches-1-2-3-4-5 .col-intro span.opt-Marche {
  background-color: #96BD03;
}
body #content-fiches-1-2-3-4-5 .col-intro span.opt-Restaurant {
  background-color: #91743E;
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: auto 70%;
  padding-left: 30px;
  height: 30px;
  display: inline-block;
  margin: 0;
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span.opt-1 {
  background-image: url("/personnalisations/img/produits/prod-1.png");
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span.opt-2 {
  background-image: url("/personnalisations/img/produits/prod-2.png");
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span.opt-3 {
  background-image: url("/personnalisations/img/produits/prod-3.png");
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span.opt-4 {
  background-image: url("/personnalisations/img/produits/prod-4.png");
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span.opt-5 {
  background-image: url("/personnalisations/img/produits/prod-5.png");
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span.opt-6 {
  background-image: url("/personnalisations/img/produits/prod-6.png");
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span.opt-7 {
  background-image: url("/personnalisations/img/produits/prod-7.png");
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span.opt-8 {
  background-image: url("/personnalisations/img/produits/prod-8.png");
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span.opt-9 {
  background-image: url("/personnalisations/img/produits/prod-9.png");
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span.opt-10 {
  background-image: url("/personnalisations/img/produits/prod-10.png");
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span.opt-11 {
  background-image: url("/personnalisations/img/produits/prod-11.png");
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span.opt-12 {
  background-image: url("/personnalisations/img/produits/prod-12.png");
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span.opt-13 {
  background-image: url("/personnalisations/img/produits/prod-13.png");
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span.opt-14 {
  background-image: url("/personnalisations/img/produits/prod-14.png");
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span.opt-15 {
  background-image: url("/personnalisations/img/produits/prod-15.png");
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span.opt-16 {
  background-image: url("/personnalisations/img/produits/prod-16.png");
}
body #content-fiches-1-2-3-4-5 .col-intro .checkboxListeProduits span.opt-17 {
  background-image: url("/personnalisations/img/produits/prod-17.png");
}
body #content-fiches-1-2-3-4-5 .col-intro .imagebf_image1 {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
}
body #content-fiches-1-2-3-4-5 .col-intro .imagebf_image1 img {
  width: 100%;
  height: auto;
}
body #content-fiches-1-2-3-4-5 .icon-pad {
  padding-left: 50px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-size: auto 20px;
}
body #content-fiches-1-2-3-4-5 .icon-pad a {
  color: #414141;
  text-decoration: underline;
}
body #content-fiches-1-2-3-4-5 .icon-pad.bf_telGuide {
  background-image: url("/personnalisations/img/icons-fiche/phone.png");
}
body #content-fiches-1-2-3-4-5 .icon-pad.bf_mailGuide {
  background-image: url("/personnalisations/img/icons-fiche/mail.png");
}
body #content-fiches-1-2-3-4-5 .icon-pad.bf_site_internet {
  background-image: url("/personnalisations/img/icons-fiche/url.png");
}
body #content-fiches-1-2-3-4-5 .icon-pad.bf_site_internet a {
  color: #414141;
}
body #content-fiches-1-2-3-4-5 .icon-pad.bf_NomContactbf_PrenomContact {
  background-image: url("/personnalisations/img/icons-fiche/nom.png");
}
body #content-fiches-1-2-3-4-5 .icon-pad.bf_adresse1 {
  background-image: url("/personnalisations/img/icons-fiche/adresse.png");
  margin-bottom: 0;
}
body #content-fiches-1-2-3-4-5 .icon-pad.bf_code_postalbf_ville {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -5px;
  height: auto;
}
body #content-fiches-1-2-3-4-5 .icon-pad.bf_latitudebf_longitude {
  background-image: url("/personnalisations/img/icons-fiche/gps.png");
  height: auto;
  padding-bottom: 0;
}
body #content-fiches-1-2-3-4-5 .icon-pad.radioListeCertification {
  background-image: url("/personnalisations/img/icons-fiche/certif.png");
}
body #content-fiches-1-2-3-4-5 .icon-pad.listeListeVntSurPlace {
  background-image: url("/personnalisations/img/icons-fiche/vente.png");
}
body #content-fiches-1-2-3-4-5 .icon-pad.bf_Horaires {
  background-image: url("/personnalisations/img/icons-fiche/horaires.png");
}
body #content-fiches-1-2-3-4-5 .icon-pad.bf_telGuide {
  background-image: url("/personnalisations/img/icons-fiche/phone.png");
}
body #content-fiches-1-2-3-4-5 .icon-pad.bf_telGuide {
  background-image: url("/personnalisations/img/icons-fiche/phone.png");
}
body #content-fiches-1-2-3-4-5 .icon-pad.icon-panier {
  background-image: url("/personnalisations/img/icons-fiche/vente.png");
  height: auto;
}
body #content-fiches-1-2-3-4-5 .icon-pad.icon-horloge {
  background-image: url("/personnalisations/img/icons-fiche/horaires.png");
  height: auto;
}
body #content-fiches-1-2-3-4-5 .icon-pad .color-violet {
  color: #493052;
  font-size: 14px;
  padding: 0;
  margin: 0;
  height: auto;
  min-height: auto;
}
body #content-fiches-1-2-3-4-5 .icon-pad .color-violet strong {
  font-weight: 600;
}
body #content-fiches-1-2-3-4-5 .carousel-inner>.item>img {
  width: 100%;
  border-radius: 10px;
}
body #content-fiches-1-2-3-4-5 .bf_Chapo {
  padding-top: 30px;
  line-height: 20px;
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits {
  line-height: 18px;
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits>div {
  padding-top: 7px;
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto 20px;
  padding-left: 45px;
  min-height: 30px;
  display: inline-block;
  font-size: 14px;
  margin-left: -10px;
  padding-top: 0;
  padding-bottom: 7px;
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span.opt-1 {
  background-image: url("/personnalisations/img/produits/prod-1.png");
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span.opt-2 {
  background-image: url("/personnalisations/img/produits/prod-2.png");
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span.opt-3 {
  background-image: url("/personnalisations/img/produits/prod-3.png");
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span.opt-4 {
  background-image: url("/personnalisations/img/produits/prod-4.png");
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span.opt-5 {
  background-image: url("/personnalisations/img/produits/prod-5.png");
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span.opt-6 {
  background-image: url("/personnalisations/img/produits/prod-6.png");
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span.opt-7 {
  background-image: url("/personnalisations/img/produits/prod-7.png");
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span.opt-8 {
  background-image: url("/personnalisations/img/produits/prod-8.png");
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span.opt-9 {
  background-image: url("/personnalisations/img/produits/prod-9.png");
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span.opt-10 {
  background-image: url("/personnalisations/img/produits/prod-10.png");
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span.opt-11 {
  background-image: url("/personnalisations/img/produits/prod-11.png");
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span.opt-12 {
  background-image: url("/personnalisations/img/produits/prod-12.png");
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span.opt-13 {
  background-image: url("/personnalisations/img/produits/prod-13.png");
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span.opt-14 {
  background-image: url("/personnalisations/img/produits/prod-14.png");
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span.opt-15 {
  background-image: url("/personnalisations/img/produits/prod-15.png");
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span.opt-16 {
  background-image: url("/personnalisations/img/produits/prod-16.png");
}
body #content-fiches-1-2-3-4-5 .sec-checkboxListeProduits span.opt-17 {
  background-image: url("/personnalisations/img/produits/prod-17.png");
}
body #content-fiches-1-2-3-4-5 .sec-boutons-fiche {
  padding: 20px 0;
}
body #content-fiches-1-2-3-4-5 .sec-boutons-fiche a {
  display: inline-block;
  color: #493052;
  font-size: 12px;
  padding: 34px 10px 5px 10px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 7px;
  background-size: auto 20px;
}
body #content-fiches-1-2-3-4-5 .sec-boutons-fiche a.btn-partage {
  background-image: url("/personnalisations/img/actions/partager.png");
  border-right: 1px solid #C2D23C;
}
body #content-fiches-1-2-3-4-5 .sec-boutons-fiche a.btn-modifier {
  background-image: url("/personnalisations/img/actions/modifier.png");
  border-right: 1px solid #C2D23C;
}
body #content-fiches-1-2-3-4-5 .sec-boutons-fiche a.btn-supprimer {
  background-image: url("/personnalisations/img/actions/supprimer.png");
  border-right: 1px solid #C2D23C;
}
body #content-fiches-1-2-3-4-5 .sec-boutons-fiche a.btn-close-full-fiche {
  background-image: url("/personnalisations/img/actions/retour.png");
}
body .accordion-group .yeswiki-footer-2,
body .accordion-group .BAZ_fiche_info.well .pull-right {
  display: none;
}
body .accordion-group .BAZ_fiche_info.well {
  background: #fff;
  border-top: 1px solid #96BD03;
  color: #414141;
  border-radius: 0;
  text-align: center;
}
#search-carte-results {
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin: 0 -15px;
  padding-left: 0;
}
#search-carte-results #infos_fiche_select {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: #fff;
  background-image: url("/personnalisations/img/message-border.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 8px;
  transition: top 0.5s;
}
#search-carte-results #infos_fiche_select .content-fiche {
  height: 100%;
  width: 100%;
  padding-top: 15px;
}
#search-carte-results #infos_fiche_select .content-fiche .BAZ_fiche_info {
  display: none;
}
#search-carte-results #infos_fiche_select .preview-nav-fiche {
  display: none;
}
#search-carte-results #infos_fiche_select.infos-preview {
  top: 50%;
  display: block;
}
#search-carte-results #infos_fiche_select.infos-preview .content-fiche {
  overflow-y: hidden;
}
#search-carte-results #infos_fiche_select.infos-preview .preview-nav-fiche {
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  padding: 0 30px;
}
#search-carte-results #infos_fiche_select.infos-preview .preview-nav-fiche>div {
  line-height: 30px;
  padding: 0 18px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 12px;
  font-size: 12px;
}
#search-carte-results #infos_fiche_select.infos-preview .preview-nav-fiche>div.pull-left {
  background-image: url("/personnalisations/img/nav-fiche/suite.png");
  background-size: auto 7px;
}
#search-carte-results #infos_fiche_select.infos-preview .preview-nav-fiche>div.pull-right {
  background-image: url("/personnalisations/img/nav-fiche/fermer.png");
  padding-right: 18px;
  background-position: right center;
}
#search-carte-results #infos_fiche_select.infos-full {
  top: 0;
  background: #fff;
  display: block;
}
#search-carte-results #infos_fiche_select.infos-full .content-fiche {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overscroll-behavior-y: none;
}
#search-carte-results #infos_fiche_select.infos-full .preview-nav-fiche {
  display: none;
}
#search-carte-results .bazar-marker.xl .bazar-entry.icon-darkred {
  background-position: center center;
  background-size: contain;
}
#search-carte-results .bazar-marker.xl .bazar-entry.icon-darkred i {
  display: none;
}
#search-carte-results div[data-id_typeannonce="1"] {
  background-image: url("/personnalisations/img/markers/Producteur.png");
}
#search-carte-results div[data-id_typeannonce="1"]:before {
  background-image: url("/personnalisations/img/markers/sel-Producteur.png");
}
#search-carte-results div[data-id_typeannonce="3"] {
  background-image: url("/personnalisations/img/markers/LieuDeDistribution.png");
}
#search-carte-results div[data-id_typeannonce="3"]:before {
  background-image: url("/personnalisations/img/markers/sel-LieuDeDistribution.png");
}
#search-carte-results div[data-id_typeannonce="5"] {
  background-image: url("/personnalisations/img/markers/Magasin.png");
}
#search-carte-results div[data-id_typeannonce="5"]:before {
  background-image: url("/personnalisations/img/markers/sel-Magasin.png");
}
#search-carte-results div[data-id_typeannonce="2"] {
  background-image: url("/personnalisations/img/markers/Marche.png");
}
#search-carte-results div[data-id_typeannonce="2"]:before {
  background-image: url("/personnalisations/img/markers/sel-Marche.png");
}
#search-carte-results div[data-id_typeannonce="4"] {
  background-image: url("/personnalisations/img/markers/Restaurant.png");
}
#search-carte-results div[data-id_typeannonce="4"]:before {
  background-image: url("/personnalisations/img/markers/sel-Restaurant.png");
}
#search-carte-results .selectedMarker>div {
  background: transparent;
}
#search-carte-results .selectedMarker>div:before {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -22px;
  width: 44px;
  height: 62px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
#search-carte-results #map-buttons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
#search-carte-results #map-buttons a {
  display: block;
  width: 60px;
  height: 60px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  margin-bottom: 20px;
}
#search-carte-results #map-buttons a.geo-button {
  background-image: url("/personnalisations/img/map/geoloc_carte.png");
}
#search-carte-results #map-buttons a.legende-buttom {
  background-image: url("/personnalisations/img/map/legende_carte.png");
}
#search-carte-results .leaflet-touch .leaflet-bar {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  background-image: url("/personnalisations/img/map/zoom-map@2x.png");
  border: none;
}
#search-carte-results .leaflet-touch .leaflet-bar a:first-child,
#search-carte-results .leaflet-touch .leaflet-bar a {
  text-indent: -999em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
  border-color: transparent;
  width: 41px;
  height: 41px;
}
#search-carte-results .leaflet-touch .leaflet-bar .leaflet-control-zoom-fullscreen {
  display: none;
}
#search-carte-results .leaflet-touch .leaflet-bar a:focus {
  outline: none;
}
#search-carte-results #map-legende {
  display: block;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: -70vw;
  padding: 30px 30px 40px 30px;
  margin: 0;
  width: 70vw;
  height: 100vh;
  overflow-y: auto;
  z-index: 10000;
  line-height: 20px;
  transition: left 0.5s;
}
#search-carte-results #map-legende.open {
  display: block;
  left: -0.0001vw;
}
#search-carte-results #map-legende:before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  background-image: url(/personnalisations/img/accueil-mobile.jpg);
  background-size: cover;
  background-position: center center;
}
#search-carte-results #map-legende .menu-background {
  background-color: rgba(255,255,255,0.8);
  background-image: url(/personnalisations/img/menu-border.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 8px 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  z-index: 0;
}
#search-carte-results #map-legende .close-legende {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #333;
  font-size: 18px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-indent: -999em;
  background-color: transparent;
  background-image: url(/personnalisations/img/fermer.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
#search-carte-results #map-legende h2 {
  position: relative;
  background-image: url(/personnalisations/img/logo_couleur.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 25px;
  color: #414141;
  border-bottom: 1px solid #DBDBDB;
  text-align: center;
  font-size: 18px;
  padding-top: 70px;
  font-weight: 600;
  padding-bottom: 10px;
}
#search-carte-results #map-legende .content-legende {
  position: relative;
  padding-top: 20px;
}
#search-carte-results #map-legende .content-legende p {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 10px 4px;
  background-size: auto 21px;
  padding-left: 50px;
  min-height: 30px;
  display: block;
  color: #414141;
  line-height: 18px;
  font-weight: 600;
  font-size: 14px;
  padding-top: 6px;
  box-sizing: border-box;
}
#search-carte-results #map-legende .content-legende p.opt-Producteur {
  background-image: url("/personnalisations/img/markers/Producteur.png");
}
#search-carte-results #map-legende .content-legende p.opt-LieuDeDistribution {
  background-image: url("/personnalisations/img/markers/LieuDeDistribution.png");
}
#search-carte-results #map-legende .content-legende p.opt-Magasin {
  background-image: url("/personnalisations/img/markers/Magasin.png");
}
#search-carte-results #map-legende .content-legende p.opt-Marche {
  background-image: url("/personnalisations/img/markers/Marche.png");
}
#search-carte-results #map-legende .content-legende p.opt-Restaurant {
  background-image: url("/personnalisations/img/markers/Restaurant.png");
}
#search-carte-results #map-legende footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70vw;
  display: block;
}
#search-carte-results #map-legende footer p {
  text-align: center;
  font-size: 10px;
  color: #414141;
  line-height: 14px;
  font-weight: 600;
  opacity: 0.75;
}
body.page-search-results-carte #header-nav {
  margin-bottom: 0;
}
body.page-search-results-carte .footer,
body.page-search-results-carte footer {
  display: none;
}
#search-dropdown {
  position: absolute;
  top: 50px;
}
.yeswiki-topnav-fast-access {
  display: none;
}
.yeswiki-topnav-fast-access a.search-btn {
  background: transparent;
  border: none;
  border-right: 1px solid #fff;
  border-radius: 0;
  box-shadow: none;
  font-weight: 100;
  margin-right: 3px;
}
.yeswiki-topnav-fast-access a.search-btn span {
  color: #fff;
}
.yeswiki-topnav-fast-access>.btn-group>button {
  margin-left: 3px;
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-image: url(/personnalisations/img/fast-acces-menu@2x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 90%;
  height: 20px;
}
.yeswiki-topnav-fast-access>.btn-group>button i {
  display: none;
}
.main-body .yeswiki-footer-2 {
  display: none;
}
.yeswiki-footer {
  background-color: transparent;
  color: #fff;
  font-size: 10px;
  margin: 20px 15px 0 15px;
  border-top: 2px solid #fff;
  padding: 19px 10px 20px;
}
#formulaire {
  margin-bottom: 100px;
}
#formulaire .hidden-intput {
  display: none;
}
#formulaire.formulaire-ajout .hidden-intput.visible-on-add-for-all {
  display: block;
}
#formulaire #publier_version {
  margin-right: 15px;
}
#formulaire .leaflet-popup-content {
  width: 150px;
  margin: 5px;
  text-align: center;
}
#formulaire .leaflet-popup-content .well {
  padding: 5px;
  margin: 0 0 5px 0;
}
figure.attached_file.center {
  background: #fff;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  width: 100%;
}
figure.attached_file.center a {
  width: 100%;
  padding-top: 100%;
  margin-right: 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
figure.attached_file.center a img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  border-radius: 8px;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
figure.attached_file.center a img.portrait {
  width: 100%;
  height: auto;
}
.carousel-auto figure.attached_file {
  display: none;
}
@media (min-width: 768px) {
  >div.footer {
    display: block;
  }
  .navbar-collapse {
    position: relative;
  }
  .yeswiki-topnav-fast-access {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
  }
  body .navbar-collapse.expended .topnavpage ul.navbar-nav>li>ul.dropdown-menu {
    position: absolute;
    display: none;
    float: left;
  }
  body .navbar-default .navbar-nav>li>a {
    color: #fff;
    text-shadow: none;
    font-weight: 600;
  }
  body .navbar-default .navbar-nav>li.dropdown>a {
    text-decoration: none;
  }
  body .navbar-default .navbar-nav>.active>a,
  body .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
  }
  body .dropdown-menu>li>a,
  body .dropdown-menu>li>a:focus,
  body .dropdown-menu>li>a:hover {
    color: #493052;
    font-weight: 600;
  }
  body {
    padding-top: 128px;
  }
  body .navbar-default {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    height: auto;
    background-position: center 28px;
    background-size: auto 50px;
    line-height: 30px;
  }
  body .navbar-default h1 {
    margin-top: 5px;
  }
  .container>.navbar-header,
  body .navbar-default .navbar-toggle {
    display: none;
  }
  .intro-accueil {
    margin-left: 25%;
    width: 50%;
  }
}
@media (min-width: 992px) {
  #search-carte-results {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin: 0 -15px;
    padding-left: 0;
  }
  #search-carte-results .leaflet-left {
    left: auto;
    right: 20px;
    margin-right: 10px;
  }
  #search-carte-results #infos_fiche_select {
    position: fixed;
    top: 100%;
    left: 0;
    width: 40%;
    height: 100%;
    z-index: 20000;
  }
  #search-carte-results #infos_fiche_select .content-fiche {
    height: 100%;
    width: 100%;
    padding-top: 15px;
  }
  #search-carte-results #infos_fiche_select .content-fiche .BAZ_fiche_info {
    display: none;
  }
  #search-carte-results #infos_fiche_select .content-fiche .container {
    width: auto;
  }
  #search-carte-results #infos_fiche_select .preview-nav-fiche {
    display: none;
  }
  #search-carte-results #infos_fiche_select.infos-preview {
    top: 0;
  }
  #search-carte-results #infos_fiche_select.infos-preview .content-fiche {
    overflow-y: scroll;
  }
  #search-carte-results #infos_fiche_select.infos-preview .preview-nav-fiche {
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 40%;
  }
  #search-carte-results #infos_fiche_select.infos-preview .preview-nav-fiche>div.pull-left {
    background-image: url("/personnalisations/img/nav-fiche/suite.png");
    background-size: auto 7px;
    display: none;
  }
  #search-carte-results #infos_fiche_select.infos-preview .preview-nav-fiche>div.pull-right {
    background-image: url("/personnalisations/img/nav-fiche/fermer.png");
    padding-right: 18px;
    background-position: right center;
  }
  #search-carte-results #infos_fiche_select.infos-preview div.yeswiki-footer-2 {
    display: block;
    margin-bottom: 30px;
  }
  #search-carte-results #infos_fiche_select.infos-full {
    top: 0;
  }
  #search-carte-results #infos_fiche_select.infos-full .content-fiche {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overscroll-behavior-y: none;
  }
  #search-carte-results #infos_fiche_select.infos-full .preview-nav-fiche {
    display: none;
  }
  #search-carte-results #map-legende {
    position: fixed;
    top: 0;
    left: -30vw;
    width: 30vw;
    height: 100vh;
    z-index: 10000;
    transition: left 0.5s;
  }
  #search-carte-results #map-legende .menu-background,
  #search-carte-results #map-legende:before,
  #search-carte-results #map-legende footer {
    width: 30vw;
  }
  body.menu-open {
    margin-left: 30vw;
  }
}
