<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{configuration param="lang"}}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{configuration param="lang"}}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{configuration param="lang"}}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{configuration param="lang"}}"> <!--<![endif]-->
<head>
  <!-- HTML Metas -->
  <meta charset="{{configuration param="charset"}}">
  {{metarobots}}
  <meta name="keywords" content="{{configuration param="meta_keywords"}}" />
  <meta name="description" content="{{configuration param="meta_description"}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Title of the page -->
  <title>{{configuration param="wakka_name"}} : {{currentpage}}</title>

  <!-- Favicons -->
  <link rel="shortcut icon" type="image/x-icon" href="personnalisations/img/favicons/favicon-a.ico" />
  <link rel="apple-touch-icon" href="personnalisations/img/favicons/apple-touch-icon-a.png" />
  <link rel="icon" type="image/png" href="personnalisations/img/favicons/favicon-a.png" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600,600i,800" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />


  {{linkstyle othercss="font-awesome.min.css,styles.css"}}
  
  {{linkrss}}
</head>

<body {{parambody}} class="{{classbody}}">
  <div class="navbar navbar-default" id="header-nav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{configuration param="base_url"}}{{configuration param="root_page"}}">{{include page="PageTitre" doubleclic="1"}}</a>
      </div> <!-- /.navbar-header -->
      <div class="navbar-collapse collapse">
	  <div class="menu-background"></div>
        {{include page="PageMenuHaut" class="yeswiki-topnav topnavpage" doubleclic="1" actif="1"}}
        {{include page="PageRapideHaut" class="yeswiki-topnav-fast-access navbar-right" doubleclic="1" actif="1"}}
      </div> <!-- /.navbar-collapse -->
    </div> <!--/.container -->
  </div> <!-- /.navbar -->

  <div class="container-fluid">
    <div class="main-body" {{doubleclic}} role="main">
      {WIKINI_PAGE}
    </div> <!-- /.main-body -->
  </div> <!-- /.container -->
  {{barreredaction}}
  <footer class="yeswiki-footer-2">
    <div class="container">
      {{include page="PageFooter2" doubleclic="1"}}
    </div>
  </footer> <!-- /footer -->
  {{linkjavascript}}
  <!-- <script src="{{configuration param="theme_path"}}javascripts/custom/select2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <div id="search-dropdown"></div>
</body>
</html>
