<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{configuration param="lang"}}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{configuration param="lang"}}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{configuration param="lang"}}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{configuration param="lang"}}"> <!--<![endif]-->
<head>
  <!-- HTML Metas -->
  <meta charset="{{configuration param="charset"}}">
  {{metarobots}}
  <meta name="keywords" content="{{configuration param="meta_keywords"}}" />
  <meta name="description" content="{{configuration param="meta_description"}}" />
  <meta name="viewport" content="width=device-width" />

  <!-- Title of the page -->
  <title>{{configuration param="wakka_name"}} : {{currentpage}}</title>
  
  <!-- Favicons -->
  <link rel="shortcut icon" type="image/x-icon" href="{{configuration param="theme_path"}}images/favicon.ico" />
  <link rel="apple-touch-icon" href="{{configuration param="theme_path"}}images/apple-touch-icon.png" />
  <link rel="icon" type="image/png" href="{{configuration param="theme_path"}}images/favicon.png" />
  
  {{linkstyle othercss="font-awesome.min.css,styles.css"}}
  
  {{linkrss}}
</head>

<body {{parambody}}>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{configuration param="base_url"}}{{configuration param="root_page"}}">{{include page="PageTitre" doubleclic="1"}}</a>
      </div> <!-- /.navbar-header -->
      <div class="navbar-collapse collapse">
        {{include page="PageMenuHaut" class="yeswiki-topnav topnavpage" doubleclic="1" actif="1"}}   
        {{include page="PageRapideHaut" class="yeswiki-topnav-fast-access navbar-right" doubleclic="1" actif="1"}}
      </div> <!-- /.navbar-collapse -->
    </div> <!--/.container -->
  </div> <!-- /.navbar -->

  <div class="fullwidth-header">
    {{include page="PageHeader" doubleclic="1"}}
  </div> <!--/.fullwidth-header -->
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      {{include page="PageMenu" class="menu-unstyled" doubleclic="1"}}
      </div>
      <div class="col-md-8">
        <div class="main-body" {{doubleclic}} role="main">
          {WIKINI_PAGE}
        </div> <!-- /.main-body -->
      </div>
      <div class="col-md-2">
      {{include page="PageColonneDroite" class="menu-unstyled" doubleclic="1"}}
      </div>
    </div>
  </div> <!-- /.container -->
  {{barreredaction}}   
  <footer class="yeswiki-footer">
    <div class="container">
      {{include page="PageFooter" doubleclic="1"}}
    </div>
  </footer> <!-- /footer -->
  {{linkjavascript}}
</body>
</html>