<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{configuration param="lang"}}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{configuration param="lang"}}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{configuration param="lang"}}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{configuration param="lang"}}"> <!--<![endif]-->
<head>
  <!-- HTML Metas -->
  <meta charset="{{configuration param="charset"}}">
  {{metarobots}}
  <meta name="keywords" content="{{configuration param="meta_keywords"}}" />
  <meta name="description" content="{{configuration param="meta_description"}}" />
  <meta name="viewport" content="width=device-width" />

  <!-- Title of the page -->
  <title>{{configuration param="wakka_name"}} : {{currentpage}}</title>

  <!-- Favicons -->
  <link rel="shortcut icon" type="image/x-icon" href="{{configuration param="theme_path"}}images/favicon.ico" />
  <link rel="apple-touch-icon" href="{{configuration param="theme_path"}}images/apple-touch-icon.png" />
  <link rel="icon" type="image/png" href="{{configuration param="theme_path"}}images/favicon.png" />

  {{linkstyle othercss="font-awesome.min.css,styles.css"}}
  
  {{linkrss}}
</head>

<body {{parambody}}>
    <div class="main-body" {{doubleclic}} role="main">
      {WIKINI_PAGE}
    </div> <!-- /.main-body -->
  {{barreredaction}}
  {{linkjavascript}}
</body>
</html>
