<?php if (count($forms)>0) : ?>
<div class="table-responsive">
<table id="existing-forms-table" class="bazar-table table table-condensed table-striped">
    <thead>
        <tr>
            <th><?php echo _t('BAZ_FORMULAIRE'); ?></th>
            <th style="width:100px;"><?php echo _t('BAZ_ACTIONS_FICHES'); ?></th>
            <th><?php echo _t('BAZ_DATA_FORMAT'); ?></th>
            <th style="width:40px;"><?php echo _t('BAZ_ID'); ?></th>
            <th style="width:80px;"><?php echo _t('BAZ_ACTIONS'); ?></th>
        </tr>
    </thead>
    <tbody>
    	<?php
        foreach ($forms as $key => $form) : ?>
        <tr>
            <td>
                <?php echo '<strong>'.$form['title'].'</strong>'.
                            ((!empty($form['description'])) ? '<br>'.$form['description'] : ''); ?>
            </td>
            <td>
                <a class="btn btn-default btn-mini btn-xs"
                    data-toggle="tooltip" data-placement="bottom" title="<?php echo _t('BAZ_RECHERCHER'); ?>"
                    href="<?php echo $GLOBALS['wiki']->href('', $GLOBALS['wiki']->GetPageTag(), BAZ_VARIABLE_VOIR
                    .'='.BAZ_VOIR_CONSULTER.'&amp;action='.BAZ_MOTEUR_RECHERCHE.'&amp;id='.$key); ?>">
                <i class="glyphicon glyphicon-search icon-search"></i></a>
                <a class="btn btn-default btn-mini btn-xs"
                    data-toggle="tooltip" data-placement="bottom"
                    title="<?php echo _t('BAZ_SAISIR_UNE_NOUVELLE_FICHE'); ?>"
                    href="<?php echo $GLOBALS['wiki']->href('', $GLOBALS['wiki']->GetPageTag(), BAZ_VARIABLE_VOIR
                    .'='.BAZ_VOIR_SAISIR . '&amp;action='.BAZ_ACTION_NOUVEAU.'&amp;id='.$key); ?>">
                <i class="glyphicon glyphicon-plus icon-plus"></i></a>
            </td>
            <td>
              <a class="btn btn-default btn-mini btn-xs"
              data-toggle="tooltip" data-placement="bottom" title="<?php echo _t('BAZ_RSS'); ?>"
              href="<?php
              echo $GLOBALS['wiki']->href(
              'rss',
              $GLOBALS['wiki']->getPageTag(),
              'id='.$key
              ); ?>">
              <i class="glyphicon glyphicon-signal icon-signal"></i></a>
              <a class="btn btn-default btn-mini btn-xs"
              data-toggle="tooltip" data-placement="bottom" title="<?php echo _t('BAZ_CSV'); ?>"
              href="<?php
              echo $GLOBALS['wiki']->href(
              '',
              $GLOBALS['wiki']->getPageTag(),
              'vue=exporter&id='.$key
              ); ?>">
              CSV</a>
              <a class="btn btn-default btn-mini btn-xs"
              data-toggle="tooltip" data-placement="bottom" title="<?php echo _t('BAZ_JSON'); ?>"
              href="<?php
              echo $GLOBALS['wiki']->href(
              'json',
              $GLOBALS['wiki']->getPageTag(),
              'demand=entries&id='.$key
              ); ?>">
              JSON</a>
              <a class="btn btn-default btn-mini btn-xs"
              data-toggle="tooltip" data-placement="bottom" title="<?php echo _t('BAZ_WIDGET'); ?>"
              href="<?php
              echo $GLOBALS['wiki']->href(
              'widget',
              $GLOBALS['wiki']->getPageTag(),
              'id='.$key
              ); ?>">
              <?php echo _t('BAZ_WIDGET'); ?></a>
            </td>
            <td><?php echo $key; ?></td>
            <td>
            <?php
            if ($form['can_edit']) :?>
            	<a class="btn btn-default btn-mini btn-xs"
                    data-toggle="tooltip" data-placement="bottom" title="<?php echo _t('BAZ_MODIFIER_FORMULAIRE'); ?>"
                    href="<?php
                    echo $GLOBALS['wiki']->href(
                        '',
                        $GLOBALS['wiki']->GetPageTag(),
                        BAZ_VARIABLE_VOIR.'='.BAZ_VOIR_FORMULAIRE.'&amp;action_formulaire=modif&amp;idformulaire='.$key
                    ); ?>"><i class="glyphicon glyphicon-pencil"></i></a>
            <?php
            else : ?>
              <button type="button" class="btn btn-default btn-mini btn-xs" disabled="disabled" data-toggle="tooltip" data-placement="bottom" title="<?php echo _t('BAZ_DROIT_INSUFFISANT'); ?>"><i class="glyphicon glyphicon-pencil"></i></button>
          	<?php
            endif; ?>
            <?php
            if ($form['can_delete']) :?>
            	<a class="btn btn-danger btn-xs"
                data-toggle="tooltip" data-placement="bottom" title="<?php echo _t('BAZ_SUPPRIMER_FORMULAIRE'); ?>"
                href="<?php
                    echo $GLOBALS['wiki']->href(
                        '',
                        $GLOBALS['wiki']->GetPageTag(),
                        BAZ_VARIABLE_VOIR.'='.BAZ_VOIR_FORMULAIRE.'&amp;action_formulaire=delete&amp;idformulaire='.$key
                    ); ?>"  onclick="javascript:return confirm('<?php echo _t('BAZ_CONFIRM_SUPPRIMER_FORMULAIRE'); ?> ?');"><i class="glyphicon glyphicon-trash"></i></a>
            <?php else : ?>
                      <button type="button" class="btn btn-danger btn-xs" disabled="disabled" data-toggle="tooltip" data-placement="bottom" title="<?php echo _t('BAZ_DROIT_INSUFFISANT'); ?>"><i class="glyphicon glyphicon-trash"></i></button>
            <?php
            endif; ?>
            </td>
        </tr>
		<?php
        endforeach; ?>
    </tbody>
</table>
</div> <!-- /.table-responsive -->
<?php else : ?>
<div class="alert alert-info">
	<a data-dismiss="alert" class="close">&times;</a><?php echo _t('BAZ_INTRO_AJOUT_FORMULAIRE'); ?>
</div>
<?php endif; ?>

<a class="btn btn-primary<?php if (!$GLOBALS['wiki']->GetUser()) :?> disabled<?php endif; ?>" href="<?php echo $GLOBALS['wiki']->href('', $GLOBALS['wiki']->GetPageTag(), BAZ_VARIABLE_VOIR.'='.BAZ_VOIR_FORMULAIRE.'&amp;action_formulaire=new'); ?>"><i class="glyphicon glyphicon-plus icon-plus icon-white"></i> <?php echo _t('BAZ_NOUVEAU_FORMULAIRE'); ?></a>


<hr>
<strong><?php echo _t('BAZ_IMPORT_FORMS_FROM_URL'); ?></strong>
<form action="javascript:undefined" class="form-horizontal">
	<div class="input-prepend input-append input-group">
		<span class="add-on input-group-addon"><i class="glyphicon glyphicon-link icon-globe"></i></span>
		<input id="url-import-forms" class="form-control input-xxlarge"<?php if (!$GLOBALS['wiki']->GetUser()) :?> disabled<?php endif; ?>  placeholder="<?php echo _t('BAZ_URL_IMPORT_LISTS_INFO'); ?>" type="url">
		<span class="input-group-btn">
		    <button id="btn-import-forms"<?php if (!$GLOBALS['wiki']->GetUser()) :?> disabled<?php endif; ?> class="btn btn-primary" type="submit"><?php echo _t('BAZ_GO'); ?> !</button>
        </span>
	</div>
</form>
<br>
<div id="import-forms-result"></div>
<form id="import-forms-form" action="<?php echo $GLOBALS['wiki']->href('', $GLOBALS['wiki']->GetPageTag(), BAZ_VARIABLE_VOIR.'='.BAZ_VOIR_FORMULAIRE); ?>" class="hide" method="post">
<div class="table-responsive">
<table id="import-forms-table" class="table table-condensed table-striped" style="table-layout:fixed;word-wrap: break-word;">
    <thead>
        <tr>
            <th style="width:25px;"><input data-target="#import-forms-table tbody" type="checkbox" class="selectall"></th>
            <th><?php echo _t('BAZ_FORMULAIRE'); ?></th>
            <th style="width:40px;"><?php echo _t('BAZ_ID'); ?></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div> <!-- /.table-responsive -->
<div class="checkbox">
	<label class="checkbox">
		<input data-target="#import-forms-table tbody" type="checkbox" class="selectall"> <?php echo _t('BAZ_SELECT_ALL'); ?>
	</label>
</div>
<button id="btn-import-selection" type="submit" class="btn btn-primary"><?php echo _t('BAZ_IMPORT_SELECTION'); ?></button>
</form>
<div id="form-translations" data-nbformsfound="<?php echo _t('BAZ_NBFORMSFOUND'); ?>" data-noanswers="<?php echo _t('BAZ_NOANSWERS'); ?>" data-notvalidurl="<?php echo _t('BAZ_NOTVALIDURL'); ?>"  data-recuperation="<?php echo _t('BAZ_RECUPERATION'); ?>" data-loading="<?php echo _t('BAZ_LOADING'); ?>" data-existingmessage="<?php echo _t('BAZ_EXISTINGMESSAGEFORM'); ?>" data-existingmessagereplace="<?php echo _t('BAZ_EXISTINGMESSAGEREPLACEFORM'); ?>"></div>
