<?php echo $info_res; ?>
<?php if (count($fiches)>0) : ?>
    <?php echo $pager_links;?>
    <div class="panel-group accordion-group no-dblclick" id="accordion<?php echo $param['nbbazarliste']; ?>">
	<h3>Fiches en attente de validation</h3>
    <?php
    foreach($fiches as $fiche): 
		if (strpos ($fiche['id_fiche'] , '000') === 0 OR $fiche['radioListeValidation'] == 1) {
		
			if (strpos ($fiche['id_fiche'] , '000') === 0 ) {
				$motif = 'Demande de modification' ;
			} else {
				$motif = 'Demande d\'ajout' ;
			}
	?>
        <div class="bazar-entry panel panel-default" <?php echo $fiche['html_data'];?>>
          <div class="panel-heading collapsed"
            data-target="#collapse<?php echo $param['nbbazarliste']; ?>_<?php echo $fiche['id_fiche']; ?>"
            data-toggle="collapse">
            <h4 class="panel-title">
              <?php
              $style = '';
              $color = getCustomValueForEntry(
                $param['color'],
                $param['colorfield'],
                $fiche,
                ''
              );
              if (!empty($color)) {
                echo '<span class="pellet" style="background-color:'.$color.';"></span> ';
              }
              $icon = getCustomValueForEntry(
                $param['icon'],
                $param['iconfield'],
                $fiche,
                ''
              );
              if (!empty($icon)) {
                echo '<i class="'.$icon.'"></i> ';
              }

              echo $fiche['bf_titre']; 
			  

				echo ' <span class="text-warning">'.$motif .'</span>' ;

			  ?>
            </h4>
          </div>
          <div id="collapse<?php echo $param['nbbazarliste']; ?>_<?php echo $fiche['id_fiche']; ?>" class="panel-collapse collapse">
            <div class="panel-body">
			<?php //var_dump($fiche) ; ?>
              <?php echo baz_voir_fiche(true, $fiche); ?>
            </div>
          </div>
        </div>
        <?php }
    endforeach; ?>
	<h3>Fiches actives</h3>
	<?php
    foreach($fiches as $fiche): ?>
		<?php if (strpos ($fiche['id_fiche'] , '000') !== 0 AND $fiche['radioListeValidation'] != 1 AND $fiche['radioListeSuppression'] == 1) { ?>
        <div class="bazar-entry panel panel-default" <?php echo $fiche['html_data'];?>>
          <div class="panel-heading collapsed"
            data-target="#collapse<?php echo $param['nbbazarliste']; ?>_<?php echo $fiche['id_fiche']; ?>"
            data-toggle="collapse">
            <h4 class="panel-title">
              <?php
              $style = '';
              $color = getCustomValueForEntry(
                $param['color'],
                $param['colorfield'],
                $fiche,
                ''
              );
              if (!empty($color)) {
                echo '<span class="pellet" style="background-color:'.$color.';"></span> ';
              }
              $icon = getCustomValueForEntry(
                $param['icon'],
                $param['iconfield'],
                $fiche,
                ''
              );
              if (!empty($icon)) {
                echo '<i class="'.$icon.'"></i> ';
              }

              echo $fiche['bf_titre']; 
			  
			  if (strpos ($fiche['id_fiche'] , '000') === 0) {
				echo ' <span class="text-warning">En attente de modération</span>' ;
			  }
			  ?>
            </h4>
          </div>
          <div id="collapse<?php echo $param['nbbazarliste']; ?>_<?php echo $fiche['id_fiche']; ?>" class="panel-collapse collapse">
            <div class="panel-body">
			
              <?php echo baz_voir_fiche(true, $fiche); ?>
            </div>
          </div>
        </div>
        <?php }
    endforeach; ?>
	
	<h3>Fiches supprimées</h3>
	<?php
    foreach($fiches as $fiche): ?>
		<?php if (strpos ($fiche['id_fiche'] , '000') !== 0 AND $fiche['radioListeValidation'] != 1 AND $fiche['radioListeSuppression'] != 1) { ?>
        <div class="bazar-entry panel panel-default" <?php echo $fiche['html_data'];?>>
          <div class="panel-heading collapsed"
            data-target="#collapse<?php echo $param['nbbazarliste']; ?>_<?php echo $fiche['id_fiche']; ?>"
            data-toggle="collapse">
            <h4 class="panel-title">
              <?php
              $style = '';
              $color = getCustomValueForEntry(
                $param['color'],
                $param['colorfield'],
                $fiche,
                ''
              );
              if (!empty($color)) {
                echo '<span class="pellet" style="background-color:'.$color.';"></span> ';
              }
              $icon = getCustomValueForEntry(
                $param['icon'],
                $param['iconfield'],
                $fiche,
                ''
              );
              if (!empty($icon)) {
                echo '<i class="'.$icon.'"></i> ';
              }

              echo $fiche['bf_titre']; 
			  
			  if (strpos ($fiche['id_fiche'] , '000') === 0) {
				echo ' <span class="text-warning">En attente de modération</span>' ;
			  }
			  ?>
            </h4>
          </div>
          <div id="collapse<?php echo $param['nbbazarliste']; ?>_<?php echo $fiche['id_fiche']; ?>" class="panel-collapse collapse">
            <div class="panel-body">
			
              <?php echo baz_voir_fiche(true, $fiche); ?>
            </div>
          </div>
        </div>
        <?php }
    endforeach; ?>
	
	
	
    </div>
    <?php echo $pager_links; ?>
    <?php
endif;
