<?php

echo $info_res;

function distance_gps($lat1, $lng1, $lat2, $lng2, $unit = 'k') {
        $earth_radius = 6378137;   // Terre = sphère de 6378km de rayon
        $rlo1 = deg2rad($lng1);
        $rla1 = deg2rad($lat1);
        $rlo2 = deg2rad($lng2);
        $rla2 = deg2rad($lat2);
        $dlo = ($rlo2 - $rlo1) / 2;
        $dla = ($rla2 - $rla1) / 2;
        $a = (sin($dla) * sin($dla)) + cos($rla1) * cos($rla2) * (sin($dlo) * sin($dlo));
        $d = 2 * atan2(sqrt($a), sqrt(1 - $a));
        //
        $meter = ($earth_radius * $d);
        if ($unit == 'k') {
            return $meter / 1000;
        }
        return $meter;
}

//var_dump($info_res) ;


if ((count($fiches)<1) and (isset($_GET['rechercher']))) {
	$redirect_get = $_GET;
	$redirect_get['no-result'] = true ;
	unset($redirect_get['wiki']) ;
	//var_dump(http_build_query($redirect_get));
	header('Location: /?PagePrincipale&'.http_build_query($redirect_get));
	exit();
}

if ((isset($_GET['geoloc-lat'])) && (isset($_GET['geoloc-lon'])) ) {

	if ( ($_GET['geoloc-lat'] != 'false' ) && ($_GET['geoloc-lat'] != 'false' ) ) {
		$dist = distance_gps($GLOBALS['wiki']->config['baz_map_center_lat'], $GLOBALS['wiki']->config['baz_map_center_lon'], $_GET['geoloc-lat'], $_GET['geoloc-lon']) ;
		if ($dist >= $GLOBALS['wiki']->config['baz_geo_disttance_max']) {
			
			$redirect_get['no-result'] = true ;
			$redirect_get['distance'] = $dist ;
			unset($redirect_get['wiki']) ;
			//var_dump(http_build_query($redirect_get));
			header('Location: /?PagePrincipale&'.http_build_query($redirect_get));
			exit();
		
		} else {
			//var_dump($dist) ;
			//var_dump($GLOBALS['wiki']->config['baz_geo_disttance_max']) ;
		}
	
	}


}
error_log( 'fiches count: ' . count($fiches) );
if (count($fiches)>0) :

	$js = '';
	// TODO: y-a-t'il pagination en mode carto ?
	echo $pager_links;

    $GLOBALS['wiki']->AddCSSFile('tools/bazar/libs/vendor/leaflet/leaflet.css');
    $GLOBALS['wiki']->AddJavascriptFile('tools/bazar/libs/bazar.js');
    $GLOBALS['wiki']->AddJavascriptFile('tools/bazar/libs/vendor/leaflet/leaflet.js');
    $GLOBALS['wiki']->AddJavascriptFile('tools/bazar/libs/vendor/leaflet/leaflet-providers.js');

	$valeursListeTypestructure = baz_valeurs_liste('ListeTypestructure');
	$legende_liste = '' ;
	foreach ($valeursListeTypestructure['label'] as $key=>$value) {

		$legende_liste .= '<p class="opt-'.$key.'">'.$value.'</p>' ;

	}
	$lat = 'false' ;
	$lon = 'false' ;
	$geo_zoom = 0 ;
	$geo_zoom_default = $GLOBALS['wiki']->config['baz_map_zoom'] ;
	$geo_zoom_located = $geo_zoom_default ;
	if (isset($GLOBALS['wiki']->config['baz_map_zoom_if_geo'])) {
		$geo_zoom = $GLOBALS['wiki']->config['baz_map_zoom_if_geo'] ;
		$geo_zoom_located = $geo_zoom ;
	} else {
		$geo_zoom = 'default' ;
	}
	if (isset($_GET['geoloc-lat']) AND isset($_GET['geoloc-lon']) AND $_GET['geoloc-lat'] != 'false' AND $_GET['geoloc-lon'] != 'false' ) {
		$lat = $_GET['geoloc-lat'] ;
		$lon = $_GET['geoloc-lon'] ;
	} else {
		$lat = $GLOBALS['wiki']->config['baz_map_center_lat'] ;
		$lon = $GLOBALS['wiki']->config['baz_map_center_lon'] ;
		//force non utilisation de la geoloclisation pour centrage carte
		$geo_zoom = 'default' ;
	}

    ?>
    <div id="search-carte-results">
        <div id="osmmap<?php echo $param['nbbazarliste']; ?>" class="no-dblclick" style="<?php echo 'width:'.$param['width'].'; height:'.$param['height']; ?>"></div>
        <input type="hidden" class="" id="geoloc-lat" name="geoloc-lat" value="<?php echo $lat ; ?>" />
        <input type="hidden" class="" id="geoloc-lon" name="geoloc-lon" value="<?php echo $lon ; ?>" />
        <input type="hidden" class="" id="geoloc-zoom" name="geoloc-zoom" value="<?php echo $geo_zoom ; ?>" />
        <input type="hidden" class="" id="geoloc-zoom-default" name="geoloc-zoom-default" value="<?php echo $geo_zoom_default ; ?>" />
        <input type="hidden" class="" id="geoloc-zoom-located" name="geoloc-zoom-located" value="<?php echo $geo_zoom_located ; ?>" />
        <div id="infos_fiche_select">
            <div class="content-fiche"></div>
            <div class="preview-nav-fiche">
                <div class="pull-left">voir la suite...</div>
                <div class="pull-right">fermer</div>
            </div>
        </div>
        <div id="map-buttons">
            <a href="#" class="geo-button"></a>
            <a href="#" class="legende-buttom"></a>
        </div>
        <div id="map-legende">
            <div class="menu-background"></div>
            <a href="#" class="close-legende"></a>
            <h2>Légende</h2>
            <div class="content-legende">
                <?php echo $legende_liste ; ?>
            </div>
            <footer>
                <p>CC BY SA ATABLE <br/>en partenariat avec InPACT Centre</p>
            </footer>

        </div>
    </div>
    <?php
    $tablinktitle = array();

    if ($param['spider'] == 'true' or $param['spider'] == '1') {

        $GLOBALS['wiki']->AddJavascriptFile('tools/bazar/libs/vendor/leaflet/spiderfier/oms.min.js');
        $markersjs = 'var popups = Array();'."\n".'oms = new OverlappingMarkerSpiderfier(map'.$param['nbbazarliste'].');'."\n".
        'var popup = new L.Popup();
        oms.addListener("click", function(marker) {
            marker.openPopup();
        });
        oms.addListener(\'spiderfy\', function(markers) {
          map'.$param['nbbazarliste'].'.closePopup();
        });'."\n";

    } elseif ($param['cluster'] == 'true' or $param['cluster'] == '1') {

      $GLOBALS['wiki']->AddCSSFile('tools/bazar/libs/vendor/leaflet/markercluster/MarkerCluster.css');
      $GLOBALS['wiki']->AddJavascriptFile('tools/bazar/libs/vendor/leaflet/markercluster/leaflet.markercluster.js');
      $markersjs = 'var markerscluster = new L.MarkerClusterGroup();'."\n";

    } else {
        $markersjs = '';
    }

    if ($param['fullscreen'] == 'true' || $param['fullscreen'] == '1') {
		$param['fullscreen'] = 'true';
      $GLOBALS['wiki']->AddCSSFile('tools/bazar/libs/vendor/leaflet/fullscreen/Control.FullScreen.css');
      $GLOBALS['wiki']->AddJavascriptFile('tools/bazar/libs/vendor/leaflet/fullscreen/Control.FullScreen.js');
	} else {
		$param['fullscreen'] = 'false' ;
	}

	$i = 0;
	foreach ($fiches as $fiche) :

			// couleur de marqueur
			$color = getCustomValueForEntry($param['color'], $param['colorfield'], $fiche, $GLOBALS['wiki']->config['baz_marker_color']);

			//icone de marqueur
			$icon = $param['iconprefix']
					.getCustomValueForEntry($param['icon'], $param['iconfield'], $fiche, $GLOBALS['wiki']->config['baz_marker_icon']);

			$tab = explode('|', isset($fiche['carte_google']) ? $fiche['carte_google'] : '');
			if( count($tab)>1 && $tab[0]!='' && $tab[1]!='' && is_numeric($tab[0]) && is_numeric($tab[1])) {
					// on genere le point marqueur sur la carte
					$markersjs .= '
					i++;
					var markerLocation = new L.LatLng('.$tab[0].', '.$tab[1].');
					marker[i] = new L.Marker(
							markerLocation,
							{
									icon: L.divIcon({
											iconSize: '.$param['iconSize'].',
											iconAnchor: '.$param['iconAnchor'].',
											popupAnchor: '.$param['popupAnchor'].',
											className: \'bazar-marker'.$param['smallmarker'].'\',
											html: \'<div class="bazar-entry icon-'.$color.'" '
											.str_replace('\'', '', $fiche['html_data']).'>'
											.(!empty($icon) ? '<i class="'.$icon.'"></i>' : '')
											.'</div>\'
									})
									/*title: \''.addslashes($fiche['bf_titre']).'\'*/
							});
					marker[i].on("click", function(e) {
						// console.log("click") ;
						show_fiche_marker(\''.preg_replace("(\r\n|\n|\r|)", '', addslashes(baz_voir_fiche($param['barregestion'], $fiche))).'\' , e);
					});
					';
					if ($param['spider'] == 'true' or $param['spider'] == '1') {
							$markersjs .= 'map'.$param['nbbazarliste'].'.addLayer(marker[i]);'."\n".'oms.addMarker(marker[i]);'."\n";
					} elseif ($param['cluster'] == 'true' or $param['cluster'] == '1') {
							$markersjs .= 'markerscluster.addLayer(marker[i]);'."\n";
					} else {
							$markersjs .= 'map'.$param['nbbazarliste'].'.addLayer(marker[i]);'."\n";
					}
					$i++;
			}
	endforeach; ?>

        <?php
	if ($param['cluster'] == 'true' or $param['cluster'] == '1') {
			$markersjs .= 'map'.$param['nbbazarliste'].'.addLayer( markerscluster );'."\n";
	}
	/*$GLOBALS['wiki']->AddJavascript(
			'// Init leaflet map
				 map'.$param['nbbazarliste'].' = new L.Map(\'osmmap'.$param['nbbazarliste'].'\', {
				scrollWheelZoom:'.$param['zoom_molette'].',
				zoomControl:'.$param['navigation'].',
				fullscreenControl:'.$param['fullscreen'].',
				iconAnchor:   [6, 20]
		});');*/
		
		$js .=
			'// Init leaflet map
		 map'.$param['nbbazarliste'].' = new L.Map(\'osmmap'.$param['nbbazarliste'].'\', {
				scrollWheelZoom:'.$param['zoom_molette'].',
				zoomControl:'.$param['navigation'].',
		fullscreenControl:'.$param['fullscreen'].',
				iconAnchor:   [6, 20],
				 fadeAnimation: true,
    zoomAnimation: true
		});';
		
		/* $js .= '
		 if (findBootstrapEnvironment() != "xs") {
		 map'.$param['nbbazarliste'].'.scrollWheelZoom.enable();
		 }' ;*/
		// $js .= 'alert('.$param['zoom'].') ;' ;


	// Pas de L.control.layers
	if( empty($param['providers']) && empty($param['layers']) ) {

	    /*$GLOBALS['wiki']->AddJavascript(
			'
			var provider = L.tileLayer.provider("'.$param['provider'].'"'.$param['provider_credentials'].');
			');*/
			
		 $js .=
			'
			var provider = L.tileLayer.provider("'.$param['provider'].'"'.$param['provider_credentials'].');
			';

	} else {
		// Avec un L.control.layers
		// Si param['provider'] existe, ce sera le baseLayer activé par défaut, sinon ce sera le 1er de la liste $params['providers'].

		//$js = 'var provider; var baseLayers = {};' ;
		$js .= 'var provider; var baseLayers = {};' ;
		/*if( ! empty($param['provider']) ){
			$js.= 'provider = L.tileLayer.provider("'.$param['provider'].'");' ;
			$js.= 'baseLayers["'.$param['provider'].'"] = provider ;' ;
		}*/
		if( ! is_array($param['providers']) ){
			$param['providers'] = array($param['provider']);
		}
		foreach( $param['providers'] as $provider ) {
			$js.= 'baseLayers["'.$provider.'"] = L.tileLayer.provider("'.$provider.'");' ;
			if( empty($param['provider']) ){
				$js.= 'if(provider==null) provider=baseLayers["'.$provider.'"];' ;
			} else if( $provider==$param['provider']) {
				$js.= 'provider=baseLayers["'.$provider.'"];' ;
			}
		}
		$GLOBALS['wiki']->AddJavascript( $js );

		$js = 'var layers = {};' ;
		if( is_array($param['layers']) ){
			$leafletajaxIncluded = false ;
			foreach( $param['layers'] as $layer ) {
				@list( $layerLabel, $layerType, $layerOptions, $layerUrl ) = explode('|', $layer);
				if( $layerUrl == null ) {
					$layerUrl = $layerOptions ;
					$layerOptions = null ;
				}
				$layerType = strtolower($layerType);
				if( ! in_array($layerType, array('tiles','geojson') ) ){
					$js.= 'alert("Erreur paramètre \\"layers\\": le type \\"'.$layerType.'\\" est inconnu")';
				}
				switch($layerType)
				{
					case 'tiles':
						$js.= 'layers["'.$layerLabel.'"] = L.tileLayer("'.$layerUrl.'");' ;
						break;
					case 'geojson':
						// URL: Attention au Blocage d’une requête multi-origines (Cross-Origin Request).
						// Le plus simple est de recopier les data GeoJson dans une page du Wiki puis de l'appeler avec le handler "/raw".
						// STYLE:
						//	http://leafletjs.com/reference.html#path-options
						//	http://leafletjs.com/reference.html#marker-options

						if( ! $leafletajaxIncluded ) {
							$leafletajaxIncluded = true ;
							$GLOBALS['wiki']->AddJavascriptFile('tools/bazar/libs/vendor/leaflet/ajax/dist/leaflet.ajax.min.js');
						}

						$styleJs = '' ;
						if( $layerOptions!=null ){
							$layerOptions = str_replace(';',',',$layerOptions);
							$styleJs.='
							style: function (feature, latlng) {
								// pour les lignes et polygones
								if( feature.geometry.type=="Point" )
									return ;
								return {'.$layerOptions.'};
							},
							pointToLayer: function (feature, latlng) {
								// pour les points
								// parsing de layerOptions pour distinguer les options de marker et celles pour construire un icon pour le marker.
								var layerOptions = "'.$layerOptions.'".split(",");
								var markerOptions = {} , iconClass=null, color=null ;
								for( opt in layerOptions )
								{
									opt = layerOptions[opt].split(":");
									switch(opt[0].trim()) {
										case "opacity":
										case "clickable":
											// les options pour le marker http://leafletjs.com/reference.html#marker
											markerOptions[opt[0].trim()] = opt[1].trim();
											break;
										case "icon":
											// pour le html du L.divIcon http://leafletjs.com/reference.html#divicon
											// supprimer les éventuels apostrhophes
											iconClass = opt[1].trim().replace(/\'/g, "");
											break;
										case "color":
											// pour le html du L.divIcon
											color = opt[1].trim();
											break;
									}
								}

								if( iconClass!=null || color!=null ) {
									// Construit un L.divIcon pour le marker, sinon ce sera par défaut la goutte bleu.
									markerOptions["icon"] = L.divIcon({
											iconSize: '.$param['iconSize'].',
											iconAnchor: '.$param['iconAnchor'].',
											popupAnchor: '.$param['popupAnchor'].',
											className: "bazar-marker'.$param['smallmarker'].'",
											html: "<div class=\"bazar-entry "+ (color==null?"":"icon-"+color)+"\" >" + (iconClass==null?"":"<i class=\""+iconClass+"\"></i>") + "</div>"
									});
								}

								return L.marker(latlng, markerOptions);
							},
							';
						}

						$js.= 'layers["'.$layerLabel.'"] = L.geoJson.ajax("'.$layerUrl.'",
						{
							'.$styleJs.'
							onEachFeature: function (feature, layer) {
								//layer.bindPopup(feature.properties.NOM + feature.properties.NOM_QP);
								var str = "" ;
								for( var prop in feature.properties){
									if( prop.toLowerCase() == "url" ) {
										str+= prop +": <a href=\""+ feature.properties[prop] + "\" target=\"_blank\" >" + feature.properties[prop] +"<br/>";
									} else {
										str+= prop +": "+ feature.properties[prop] +"<br/>";
									}
								}
								layer.bindPopup( str );
							}
						} );' ;
						break;
				}
			}
		}

		$js.= 'L.control.layers(baseLayers, layers).addTo(map'.$param['nbbazarliste'].');' ;

		//$GLOBALS['wiki']->AddJavascript( $js );

	} // else Avec un L.control.layers

	$GLOBALS['wiki']->AddJavascript( '
	$(document).ready(function() {
		'.$js.'
		// N\'ajoute pas un doublon de layer, mais active la sélection du layer.
		map'.$param['nbbazarliste'].'.addLayer(provider);
		//map'.$param['nbbazarliste'].'.setView(new L.LatLng('.$param['latitude'].', '.$param['longitude'].'), '.$param['zoom'].');
		var i = 0;
		var marker = Array();
		' . $markersjs .'
	});'
	);

endif;