<?php 
global $LABELS_SITE ;
$valeursliste_structures = baz_valeurs_liste('ListeTypestructure');
$valeursliste_ingredients = baz_valeurs_liste('	ListeProduits');



$select_ingredients = '<select id="checkboxListeProduits" name="checkboxListeProduits[]" multiple="multiple" class="form-control select2-1 select2-1-a" placeholder="'.$LABELS_SITE['FormSearch_AideChampProduits'].'" data-wraper="select2-1-a-wraper">' ; 
foreach ($valeursliste_ingredients['label'] as $key=>$item) { 
	$select_ingredients .='
<option value="'.$key.'"><span class="opt-'.$key.'"></span>'.$item.'</option>' ; } $select_ingredients .= '</select>' ; 

$select_structures = '<select id="listeListeTypeStructuree" name="listeListeTypeStructure[]" multiple="multiple" class="form-control select2-1 select2-1-b"
    placeholder="'.$LABELS_SITE['FormSearch_AideChampModeVente'].'" data-wraper="select2-1-b-wraper">' ;
foreach ($valeursliste_structures['label'] as $key=>$item) {

	$select_structures .='<option value="'.$key.'"><span class="opt-'.$key.'"></span>'.$item.'</option>' ;

}
$select_structures .= '</select>' ; ?>

<form class="<?php echo $class;?> form-search-home" method="get" action="">
    <input type="hidden" name="wiki" value="<?php echo $url;?>" />
    <div class="form-group" id="select2-1-a-wraper">
        <?php echo $select_ingredients;?>
    </div>

    <div class="form-group" id="select2-1-b-wraper">
        <?php echo $select_structures;?>
    </div>


    <div class="form-group form-group-geo">


        <input type="text" class="form-control" id="q" name="q" placeholder="<?php echo $LABELS_SITE['FormSearch_AideChampMotsCles'] ; ?>" />

        <div class="button-geo-loc-wrap">
            <input type="hidden" class="" id="geoloc-lat" name="geoloc-lat" value="false" />
            <input type="hidden" class="" id="geoloc-lon" name="geoloc-lon" value="false" />
            <button type="button" class="form-control pull-right get-geo">O</button>
        </div>

    </div>
    <div class="error-geoloc"></div>



    <div class="form-group">
        <div class="input-append">

            <button type="submit" class="btn btn-default<?php echo $btnclass; ?>"><?php echo $LABELS_SITE['FormSearch_BoutonRecheche'] ; ?></button>
        </div>
    </div>
    <input type="hidden" name="rechercher" value="" />
</form>
<?php
if (isset($_GET['no-result'])) {
?>

    <div id="no-ressult-warning">
        <a href="#" class="close-message" data-parent="no-ressult-warning"></a>
        <p class="text-center">
            <?php 
			global $LABELS_SITE ;
			echo $LABELS_SITE['FormSearch_MessNoResult'] ; ?>
        </p>
        <?php echo $GLOBALS['wiki']->Format('{{button link="PageCarte" text="'.$LABELS_SITE['FormSearch_BoutonNoResult'] .'" class="btn btn-default link-all-results"}}') ; ?>
    </div>

    <?php
}
?>